{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["prettier", "airbnb", "airbnb-typescript"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "env": {
    "jest": true
  },
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "config": "eslint-config-prettier"

}
